.features {
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.features__wrapper {
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.features__label {
  margin-bottom: 4px;
}

.features__title {
  margin: 0;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 60px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 30px;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: center;
    width: 317px;
  }
}

.features__item-icon {
  width: 52px;
  height: 56px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.features__item-wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.features__item-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }
}

.features__item-text {
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 267px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
