.features {
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}

.features__wrapper {
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__label {
  margin-bottom: 4px;
}

.features__title {
  margin: 0;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__item-icon {
  margin-bottom: 10px;
}

.features__item-wrapper {
  text-align: center;
}

.features__item-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.features__item-text {
  margin: 0;
  margin-bottom: 32px;
}
