.form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 3 / -1;
    margin-bottom: auto;
  }
}

.form-inner {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.form-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
  }
}

.form-block {
  margin: 0;
  padding: 0;
  border: none;
}

.form-block-title {
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-button {
  display: block;
  width: 160px;
  margin: 0 auto;
  padding: 11px 0;
  font-size: 14px;
  line-height: 24px;

  &--submit {
    margin-bottom: 25px;
  }

  &--reset {
    margin-bottom: 40px;
    background-color: $white;
    color: $primary;

    &:hover,
    &:focus {
      color: $white;
      background-color: $primary-light;
    }

    &:active {
      background-color: $primary-dark;
    }

    &:disabled {
      color: $white;
      background-color: $grey-light;
      cursor: default;
    }
  }

  @media (min-width: $tablet-width) {
    &--submit {
      width: 148px;
      padding: 8px 0;
      margin-bottom: 44px;
      margin-left: auto;
      margin-right: 33px;
    }

    &--reset {
      width: 138px;
      margin: 0;
      margin-right: auto;
      margin-bottom: 44px;
      padding: 8px 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--submit {
      width: 150px;
      margin: 0;
    }

    &--reset {
      width: 150px;
      margin: 0;
    }
  }
}
