.map {
  width: 100%;
  height: 420px;
  background-color: $grey-lightest;
  background-image: url("../img/map-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
  z-index: 0;

  @media (min-width: $tablet-width) {
    height: 480px;
    background-image: url("../img/map-tablet.png");
  }

  @media (min-width: $desktop-width) {
    height: 540px;
    background-image: url("../img/map-desktop.png");
  }
}

@media (min-resolution: 2dppx) {
  .map {
    background-image: url("../img/map-mobile@2x.png");
    background-size: auto 420px;
  }

  @media (min-width: $tablet-width) {
    .map {
      background-image: url("../img/map-tablet@2x.png");
      background-size: auto 480px;
    }
  }

  @media (min-width: $desktop-width) {
    .map {
      background-image: url("../img/map-desktop@2x.png");
      background-size: auto 540px;
    }
  }
}
