.milk-block {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 39px;
  }
}

.milk-block-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.milk-block-item {
  margin-bottom: 23px;
  padding-left: 34px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.milk-block-name {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  user-select: none;
}

.milk-block-radio+.milk-block-name::before {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 24px;
  height: 24px;
  border: 2px solid $grey;
  border-radius: 50%;
}

.milk-block-radio:checked+.milk-block-name::before {
  border: 2px solid $primary;
}

.milk-block-radio:checked+.milk-block-name::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -32px;
  width: 16px;
  height: 16px;
  background-color: $primary;
  border-radius: 50%;
}

.milk-block-radio:checked:hover+.milk-block-name::before,
.milk-block-radio:checked:focus+.milk-block-name::before {
  border: 2px solid $primary;
}

.milk-block-radio:hover+.milk-block-name::before,
.milk-block-radio:focus+.milk-block-name::before {
  border: 2px solid $primary-light;
}

.milk-block-radio:hover+.milk-block-name::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -32px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $primary-opacity-025;
}

.milk-block-radio:checked:hover+.milk-block-name::after {
  background-color: $primary;
}

.milk-block-radio:disabled+.milk-block-name::before,
.milk-block-radio:disabled:checked+.milk-block-name::before {
  border: 2px solid $grey-light;
}

.milk-block-radio:disabled+.milk-block-name::after,
.milk-block-radio:disabled:checked+.milk-block-name::after,
.milk-block-radio:hover:disabled:checked+.milk-block-name::after {
  background-color: $grey-light;
}

.milk-block-radio:hover:disabled+.milk-block-name::after {
  background-color: transparent;
}

.milk-block-radio:disabled+.milk-block-name {
  color: $grey;
}
