.page-header {
  padding-top: 12px;
}

.page-header__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.page-header__inner {
  display: flex;
  align-items: center;
}

.page-header__logo-image {
  margin-right: auto;
}

.page-header__ref {
  display: block;
  padding: 0 22px;

  &:last-child {
    margin-right: 44px;
  }
}
