.pagination {
  margin: 0;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
}

.pagination-item {

  &--prev,
  &--next {
    display: none;
  }
}

.pagination-item__button {
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  color: $primary;
  background-color: $white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;
    fill: $white;
    background-color: $primary-light;
  }

  &:active {
    background-color: $primary-dark;
  }

  &:disabled {
    color: $white;
    fill: $white;
    background-color: $grey-light;
    cursor: default;
  }
}

.pagination-item__button-number {
  &--current {
    font-weight: 600;
    color: inherit;
    background-color: inherit;
    cursor: default;

    &:hover,
    &:focus,
    &:active,
    &:disabled {
      color: inherit;
      background-color: inherit;
    }
  }
}
