.price-block {
  margin-bottom: 25px;


  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
