.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.products-item {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 20px;
  background-color: $white;
}

.products-item__link {
  display: block;
  margin-bottom: 24px;
}

.products-item__title {
  display: block;
  margin-bottom: 4px;
  margin-right: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $black;
  text-align: start;
}

.products-item__text {
  margin: 0;
  margin-bottom: 16px;
}

.products-item__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.products-item__price {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.products-item__button {
  display: block;
  padding: 8px 20px 8px 26px;
}

.products-item__button-icon {
  position: relative;
  top: 2px;
  right: 6px;
}
