.range-filter {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 220px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.range-filter__controls {
  position: relative;
}

.range-filter__scale {
  height: 2px;
  margin-bottom: 36px;
  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.range-filter__bar {
  width: 90%;
  height: 4px;
  background-color: $primary-light;
}

.range-filter__toggle {
  position: absolute;
  top: -10px;
  left: 0;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 2px solid $primary-light;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $primary-opacity-025-hex;
    outline: $white solid 2px;
    outline-offset: -4px;
  }

  &:active {
    background-color: $primary;
    outline: $white solid 2px;
    outline-offset: -4px;
  }

  @media (min-width: $tablet-width) {
    &--max {
      left: 81% !important; // Перебиваю инлайновый стиль для соответствия макету
    }
  }

  @media (min-width: $desktop-width) {
    &--max {
      left: 86% !important; // Перебиваю инлайновый стиль для соответствия макету
    }
  }
}

.range-filter--disabled .range-filter__toggle {
  border: 2px solid $grey;
  background-color: $white;
}

.range-filter--disabled .range-filter__bar {
  background-color: $grey;
}

.range-filter__price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.range-filter__price-controls::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 2px;
  background-color: $grey;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
}

.range-filter__price-controls-input {
  width: 118px;
  padding: 6px 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  background-color: $white;
  border: 2px solid $primary-light;
  border-radius: 4px;

  &[value="0"] {
    color: $grey;
  }

  &:focus {
    outline: 2px solid $primary-dark;
  }

  &:disabled {
    border: 2px solid $grey-light;
    color: $grey;
  }

  @media (min-width: $tablet-width) {
    width: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}
