// Colors
$white: #ffffff;
$grey: #bdbdbd;
$black: #333333;
$black-opacity-015: rgba(0, 0, 0, 0.15);
$primary: #7859cf;
$secondary: #f0ebff;
$primary-opacity-025: rgba(120, 89, 207, 0.25);
$primary-opacity-025-hex: #d8d1ee;
$primary-light: #9070ec;
$primary-dark: #593cac;
$grey-light: #e2e2e2;
$grey-lightest: #f8f8f8;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;

// Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
